/* - @font-face
========================
*/

@font-face {
  font-family: 'lato-black';
  src: url('../fonts/lato-black/Lato-Bla-webfont.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/lato-black/Lato-Bla-webfont.woff') format('woff'), 
       url('../fonts/lato-black/Lato-Bla-webfont.ttf')  format('truetype'),
       url('../fonts/lato-black/Lato-Bla-webfont.svg#Lato-Bla-webfont') format('svg');
}

@font-face {
  font-family: 'lato-light';
  src: url('../fonts/lato-light/Lato-Lig-webfont.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/lato-light/Lato-Lig-webfont.woff') format('woff'), 
       url('../fonts/lato-light/Lato-Lig-webfont.ttf')  format('truetype'),
       url('../fonts/lato-light/Lato-Lig-webfont.svg#Lato-Lig-webfont') format('svg');
}

@font-face {
  font-family: 'lato-light-italic';
  src: url('../fonts/lato-light-italic/Lato-LigIta-webfont.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/lato-light-italic/Lato-LigIta-webfont.woff') format('woff'), 
       url('../fonts/lato-light-italic/Lato-LigIta-webfont.ttf')  format('truetype'),
       url('../fonts/lato-light-italic/Lato-LigIta-webfont.svg#Lato-Reg-webfont') format('svg');
}

@font-face {
  font-family: 'lato-regular';
  src: url('../fonts/lato-regular/Lato-Reg-webfont.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/lato-regular/Lato-Reg-webfont.woff') format('woff'), 
       url('../fonts/lato-regular/Lato-Reg-webfont.ttf')  format('truetype'),
       url('../fonts/lato-regular/Lato-Reg-webfont.svg#Lato-Reg-webfont') format('svg');
}